body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
 
.container{
    width: 100%;
    height: 500px;
    float: left;
/*    background: red;    */
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/money_photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 }
 
.upnav{
    width: 100%;
    min-height: 70px;
/*    background: aquamarine;*/
    float: left;
    font-size: 20px;
    color: black;
 
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}
 
.logo{
    max-width: 200px;
    min-height: 70px;
/*    background: green;*/
    float: left;
    color: white;
 
    display: flex;
    justify-content: center;
    align-items: center;
 
}
 
.menu{
    min-width: 300px;
    min-height: inherit;
/*    background: yellow;*/
    float: right;
    margin-right: 20px;
    font-size: 15px;
 
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.menu ul{
    margin: 0 auto;
    padding: 0;
}
 
.menu ul li{
    list-style-type: none;
    float: left;
    margin: 5px;
    padding: 5px;
}
 
.menu ul li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    border-bottom: 2px solid transparent;
 
}
 
.menu ul li a:hover{
    /*    background: blue;*/
    border-bottom: 2px solid white;
}
 
.center{
    margin-left: 450px;    
}
 
.info_text{
    font-size: 60px;
    font-weight: 300;
    padding-right: 5px;
    box-sizing: border-box;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 50px;
    float: left;
 
}
.center_icon_part{
    margin-left: -390px;
    margin-top: 290PX;
    float: left;
}
.icon_text{
    font-size: 20px;
    padding-left: 15px;
    box-sizing: border-box;
    color: yellow;
    float: left;
}
.icon{
    width: 50px;
    height: 50px;
    /* margin-left: 740px; */
    color: rgba(246, 231, 15, 0.899);
    float: left;
    border-radius: 50%;
    background: transparent;
}
.icon:hover{
    background-color: yellow;
}

.secondpart{
    width: 100%;
    height: 400px;
    float: left;
/*    background: red;    */
}

.firstsquare{
    width: 300px;
    height: 275px;
    float: left;
    background-color: #ffcc33;
    padding: 45px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 380px;
}

.secondsquare{
    width: 300px;
    min-height: 275px;
    float: left;
/*    background: grey;*/
    padding: 0px 23px 0px 23px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 20px;

}
.text1{
    font-size: 20px;
    float: left;
}
.numbersize{
    font-size: 45px;
    float: left;
}
.text2{
    font-size: 20px;
    float: left;
}

.left_botton{
    padding: 8px 10px;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: #fff;
    letter-spacing: .1em;
    cursor: pointer;
    float: left; 
    border: 0;
    box-shadow: 0px 5px 10px rgb(45, 44, 44);
}

.left_botton:hover{  
    margin: 30px 20px 0 0;
    color: #fff;
    background-color: rgb(16, 38, 61);
}

h1{
    margin: 0px auto;
    padding: 0ps;
}
.text3{
    font-size: 15px;
    float: left;
    opacity: 0.9;
}

.text4{
    font-size: 10px;
    float: left;
    opacity: 0.7;
}

.right_button{
    background-color: #ffc822;
    border: 0;
    color: #fff;
    letter-spacing: .1em;
    font-size: 18px;
    padding: 8px 10px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgb(164, 161, 161);
    cursor: pointer;

}

.right_button:hover{
    background-color:  rgb(16, 38, 61);
}

.main3{
    width: 80%;
    height: 290px;
/*    background-color: green;*/
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom_left_side{
    width: 380px;
    height: 180px;
}

.bottom_center_side{
    width: 380px;
    height: 180px;
}

.bottom_right_side{
    width: 380px;
    height: 180px;
}

h2{
    margin-right: 60px;
    font-weight: 500;
    color: black;
}

.bottom_text{
    margin-bottom: 28px;
    color: black;
    opacity: 0.5;
    float: left;
}
.bottom_left_side_text1{
    width: 200px;
    height: 160px;
    display: flex;
    flex-direction: column;
    float: left;
}

.bottom_left_icon{
    width: 30px;
    min-height: 160px;
    float: left;
    margin-right: 15px;
    padding-top: 15px;
    box-sizing: border-box;
}
.bottom_left_side_icon{
    color: #efc23a;
    float: left;
}

.bottom_link{
    color:#f7ca44 ;
    float: left;
    cursor: pointer;
    margin-right: 119px;
}


.bottom_link:hover{
    border-bottom: 2px solid #f7ca44 ;
    font-family: bolder;
}